<footer class="footer text-center p-4">
  <div class="container">
    <p class="mb-1">Nội dung thuộc bản quyền KUXX.CLUB - Website trực thuộc tập đoàn OKWIN.</p>
    <small>KUXX.CLUB hay còn gọi <a href="/">KUXX</a>, SEX OKWIN là một trang web người lớn dành cho người trên 18 tuổi. Người xem dưới 18 tuổi vui lòng không truy cập vào web. Toàn bộ video trên trang web được dàn dựng, không có thật nhằm giúp người xem giải trí, thỏa mãn sinh lý với mục tiêu lành mạnh. Trang web không đăng tải các video vi phạm pháp luật và yêu cầu người xem không bắt chước hành động trong phim.<br>
      Admin KUXX trân trọng cảm ơn!</small>
  </div>
</footer>
