<div class="header-menu">
  <div class="container d-flex p-0 ms-1 ms-lg-3">
    <a href="/" class="nav-link mb-1 active"><i class="bi bi-house-door"></i>Trang chủ</a>
    <a href="/phim-sex-hay" class="nav-link mb-1"><i class="bi bi-hand-thumbs-up"></i>Phim Sex Hay</a>
    {{#each categoriesMenu}}
    <a href="/category/{{this.slug}}" class="nav-link mb-1">{{this.name}}</a>
    {{/each}}
  </div>
  <div class="title-center">
    <h1 class="text-center m-0 text-uppercase">KUXX - Sex OKWIN: Trang sex Việt Nam hay nhất</h1>
  </div>
</div>